version: '3.7'

networks:
  linotium_network:
    driver: bridge

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - linotium_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} -h db"]
      interval: 15s
      timeout: 10s
      retries: 10
      start_period: 60s

  backend:
    build: ./backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: db
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/usr/src/app
    networks:
      - linotium_network
    command: ["./wait-for-it.sh", "db:5432", "--timeout=60", "--strict", "--", "node", "index.js"]

  frontend:
    build: ./frontend
    depends_on:
      - backend
    environment:
      - REACT_APP_BACKEND_URL=${REACT_APP_BACKEND_URL}
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
    networks:
      - linotium_network
    command: ["sh", "-c", "export NODE_OPTIONS=--openssl-legacy-provider && npm start"]

volumes:
  postgres_data:
